asgiref==3.7.2
batorch==1.0.54
bcrypt==4.1.1
beautifulsoup4==4.12.2
blinker==1.7.0
boto3==1.34.42
botocore==1.34.42
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.1.0
cryptography==41.0.7
cycler==0.11.0
Django==5.0
docutils==0.20.1
et-xmlfile==1.1.0
filelock==3.12.2
Flask==3.0.0
fonttools==4.42.0
fsspec==2023.6.0
gdown==4.7.1
huggingface-hub==0.16.4
idna==3.4
imageio==2.33.1
importlib_metadata==7.1.0
iniconfig==2.0.0
itsdangerous==2.1.2
jaraco.classes==3.3.1
jaraco.context==4.3.0
jaraco.functools==4.0.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
keyring==25.0.0
kinesis-python==0.2.1
kiwisolver==1.4.4
kornia==0.7.0
lazy_loader==0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.4
mdurl==0.1.2
micomputing==1.1.48
mintotp==0.3.0
more-itertools==10.2.0
motion==0.2.0
mpmath==1.3.0
networkx==3.1
nh3==0.2.17
nibabel==5.1.0
numpy==1.25.2
offspring==0.1.1
opencv-python==4.8.0.76
openpyxl==3.1.2
overloader==0.1.1
packaging==23.1
paramiko==3.3.1
pexpect==4.9.0
Pillow==10.0.0
pkginfo==1.10.0
pluggy==1.3.0
psutil==5.9.5
ptyprocess==0.7.0
pycamia==1.0.40
pycparser==2.21
pydicom==2.4.2
Pygments==2.17.2
PyNaCl==1.5.0
pynput==1.7.6
pynvml==11.5.0
pyobjc-core==9.2
pyobjc-framework-ApplicationServices==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-Quartz==9.2
pyopt==0.84
pyotp==2.9.0
pyoverload==2.0.2
pyparsing==3.0.9
pypinyin==0.49.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.11
PyQt5-sip==12.13.0
PySocks==1.7.1
pystrum==0.4
pytest==7.4.1
python-dateutil==2.8.2
PyYAML==6.0.1
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
s3transfer==0.10.0
safetensors==0.3.2
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.11.2
SimpleITK==2.2.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
sympy==1.12
threadpoolctl==3.3.0
tifffile==2024.1.30
timm==0.9.5
torch==2.0.1
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.1
transparent-background==1.0.3
twine==5.0.0
typing_extensions==4.7.1
urllib3==2.0.4
visdom==0.2.4
websocket-client==1.6.4
Werkzeug==3.0.1
xpinyin==0.7.6
zipp==3.18.1
